# Filtering and Ordering - Lab

## Introduction
In this lab, we will write more `SELECT` statements to solidify our ability to query a SQL database.  We will also write more specific queries using the tools we learned in the previous lesson.

## Objectives
You will be able to:
* Limit the number of records returned by a query using `LIMIT`
* Filter results using `BETWEEN` and `IS NULL`
* Order the results of your queries by using `ORDER BY` (`ASC` & `DESC`)

## Famous Dogs

We have a database full of famous dogs!  The `dogs` table is populated with the following data:

|name      |age    |gender |breed           |temperament|hungry |
|----------|-------|-------|----------------|-----------|-------|
|Snoopy    |3      |M      |beagle          |friendly   |1      |
|McGruff   |10     |M      |bloodhound      |aware      |0      |
|Scooby    |6      |M      |great dane      |hungry     |1      |
|Little Ann|5      |F      |coonhound       |loyal      |0      |
|Pickles   |13     |F      |black lab       |mischievous|1      |
|Clifford  |4      |M      |big red         |smiley     |1      |
|Lassie    |7      |F      |collie          |loving     |1      |
|Snowy     |8      |F      |fox terrier     |adventurous|0      |
|NULL      |4      |M      |golden retriever|playful    |1      |

In [1]:
import sqlite3

In [2]:
connection = sqlite3.connect('pets_database.db')
cursor = connection.cursor()

In [3]:
file = open('create.sql','r')
sql=file.read()
cursor.executescript(sql)
file.close()

In [4]:
file = open('seed.sql','r')
sql=file.read()
cursor.executescript(sql)
file.close()

In [18]:
cursor.execute('SELECT * FROM dogs;').fetchall()

[(1, 'Snoopy', 3, 'M', 'beagle', 'friendly', 1),
 (2, 'McGruff', 10, 'M', 'bloodhound', 'aware', 0),
 (3, 'Scooby', 6, 'M', 'great dane', 'hungry', 1),
 (4, 'Little Ann', 5, 'F', 'coonhound', 'loyal', 0),
 (5, 'Pickles', 13, 'F', 'black lab', 'mischievous', 1),
 (6, 'Clifford', 4, 'M', 'big red', 'smiley', 1),
 (7, 'Lassie', 7, 'F', 'collie', 'loving', 1),
 (8, 'Snowy', 8, 'F', 'fox terrier', 'adventurous', 0),
 (9, None, 4, 'M', 'golden retriever', 'playful', 1)]

## Queries

Write your SQL queries in the `select.py` file.  Fill the empty string in each method with the proper query to get the tests in `test/index_test.py` to pass.

In [8]:
pwd

'/Users/tiarahlaing/Flatiron Course Materials/Module01/section05/dsc-1-05-08-filtering-and-ordering-lab-online-ds-ft-011419'

In [59]:
# %load selects.py
def select_all_female_dogs_name_and_breed():
    return "SELECT name, breed FROM dogs WHERE gender=='F';"

def select_all_dogs_names_in_alphabetical_order():
    return "SELECT name FROM dogs ORDER BY name;"

def select_nameless_dog():
    return "SELECT * FROM dogs WHERE name ISNULL;"

def select_hungry_dogs_name_and_breed_ordered_by_youngest_to_oldest():
    return "SELECT name, breed FROM dogs WHERE hungry == 1 ORDER BY age;"

def select_name_age_and_temperament_of_oldest_dog():
    return "SELECT name, age, temperament FROM dogs ORDER BY age DESC LIMIT 1;"

def select_name_and_age_of_three_youngest_dogs():
    return "SELECT name, age FROM dogs ORDER BY age LIMIT 3;"

def select_name_and_breed_of_dogs_between_age_five_and_ten_ordered_by_oldest_to_youngest():
    return "SELECT name, breed FROM dogs WHERE age BETWEEN 5 AND 10 ORDER BY age DESC;"

def select_name_age_and_hungry_of_hungry_dogs_between_age_two_and_seven_in_alphabetical_order():
    return "SELECT name, age, hungry FROM dogs WHERE hungry = 1 AND age BETWEEN 2 AND 7 ORDER BY name;"

* `select_all_female_dogs_name_and_breed` returns the name and breed for all female dogs

In [50]:
cursor.execute(select_all_female_dogs_name_and_breed()).fetchall()

[('Little Ann', 'coonhound'),
 ('Pickles', 'black lab'),
 ('Lassie', 'collie'),
 ('Snowy', 'fox terrier')]

* `select_all_dogs_names_in_alphabetical_order` returns the names of all dogs listed in alphabetical order.  Notice that SQL lists the nameless dog first.

In [51]:
cursor.execute(select_all_dogs_names_in_alphabetical_order()).fetchall()

[(None,),
 ('Clifford',),
 ('Lassie',),
 ('Little Ann',),
 ('McGruff',),
 ('Pickles',),
 ('Scooby',),
 ('Snoopy',),
 ('Snowy',)]

* `select_nameless_dog` returns all information for any dog that doesn't have a name

In [52]:
cursor.execute(select_nameless_dog()).fetchall()

[(9, None, 4, 'M', 'golden retriever', 'playful', 1)]

* `select_hungry_dogs_name_and_breed_ordered_by_youngest_to_oldest` returns the name and breed of only the hungry dogs and lists them from youngest to oldest

In [53]:
cursor.execute(select_hungry_dogs_name_and_breed_ordered_by_youngest_to_oldest()).fetchall()

[('Snoopy', 'beagle'),
 ('Clifford', 'big red'),
 (None, 'golden retriever'),
 ('Scooby', 'great dane'),
 ('Lassie', 'collie'),
 ('Pickles', 'black lab')]

* `select_name_age_and_temperament_of_oldest_dog` returns the oldest dog's name, age, and temperament

In [55]:
cursor.execute(select_name_age_and_temperament_of_oldest_dog()).fetchall()

[('Pickles', 13, 'mischievous')]

* `select_name_and_age_of_three_youngest_dogs` returns the three youngest dogs

In [56]:
cursor.execute(select_name_and_age_of_three_youngest_dogs()).fetchall()

[('Snoopy', 3), ('Clifford', 4), (None, 4)]

* `select_name_and_breed_of_dogs_between_age_five_and_ten_ordered_by_oldest_to_youngest` returns the name and breed of only the dogs who are between five and ten years old

In [57]:
cursor.execute(select_name_and_breed_of_dogs_between_age_five_and_ten_ordered_by_oldest_to_youngest()).fetchall()

[('McGruff', 'bloodhound'),
 ('Snowy', 'fox terrier'),
 ('Lassie', 'collie'),
 ('Scooby', 'great dane'),
 ('Little Ann', 'coonhound')]

* `select_name_age_and_hungry_of_hungry_dogs_between_age_two_and_seven_in_alphabetical_order` returns the name, age, and hungry columns for hungry dogs between the ages of two and seven.  This query should also list these dogs in alphabetical order.

In [60]:
cursor.execute(select_name_age_and_hungry_of_hungry_dogs_between_age_two_and_seven_in_alphabetical_order()).fetchall()

[(None, 4, 1),
 ('Clifford', 4, 1),
 ('Lassie', 7, 1),
 ('Scooby', 6, 1),
 ('Snoopy', 3, 1)]

## Summary

Great work! In this lab we practiced writing more complex SQL statements to not only query specific information but also define the quantity of results and the order of our results.